/* scss/_components.scss */
@use "variables" as *;

//Tarjetas (Cards)
.card {
  background: $color-blanco;
  border: 1px solid $color-borde;
  border-radius: 8px;
  padding: 15px;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    border-color: $color-primario;
  }

  a {
    text-decoration: none;
    color: inherit;
    display: block;
  }
  img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    margin-bottom: 1rem;
  }

  .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  h3 {
    font-size: 1rem;
    color: $color-oscuro;
    margin-bottom: 0.5rem;
  }
  .price {
    font-size: 1.4rem;
    font-weight: 700;
    color: $color-primario;
    margin-top: auto;
  }

  .btn {
    width: 100%;
    display: block;
    margin-top: 10px;
  }
}

//Botones Generales
.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  transition: all 0.2s;
  text-decoration: none;
  font-size: 0.95rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &-primary {
    background-color: $color-primario;
    color: $color-blanco;

    &:hover {
      background-color: $color-primario-oscuro;
    }
  }

  &-danger {
    background-color: $color-peligro;
    color: $color-blanco;

    &:hover {
      opacity: 0.9;
    }
  }

  &-sm {
    padding: 4px 8px;
    font-size: 0.8rem;
  }
}

//Mini productos (dashboard vistos recientemente)
.product-mini {
  background: $color-blanco;
  transition: background 0.2s;

  &:hover {
    background: $color-claro;
  }
}
