/* _header.scss */
@use "variables" as *;
@use "mixins" as *;

header {
  background-color: $color-primario;
  color: $color-blanco;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 12px #0000001a;

  //Contenedor interno del nav para alinear elementos
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 0;

    .logo {
      font-size: 1.6rem;
      font-weight: 800;
      letter-spacing: -0.5px;

      a {
        color: $color-blanco;
        text-decoration: none;
        display: flex;
        align-items: center;
      }
    }

    .nav-links {
      display: flex;
      gap: 25px;
      align-items: center;

      a {
        color: $color-blanco;
        font-weight: 600;
        font-size: 0.95rem;
        transition: opacity 0.2s;

        &:hover {
          opacity: 0.8;
        }
      }

      //Responsive: Menu movil
      @include mobile {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: $color-primario-oscuro;
        padding: 1rem;

        &.active {
          display: flex;
        }
      }
    }

    .menu-toggle {
      display: none;
      color: $color-blanco;
      font-size: 1.5rem;
      cursor: pointer;

      @include mobile {
        display: block;
      }
    }
  }
}
