/* scss/_mixins.scss */

@use "variables" as *;

//Mixins para Responsive Design
@mixin mobile {
  @media (max-width: #{$bp-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$bp-tablet}) and (max-width: #{$bp-escritorio - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$bp-escritorio}) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
